
  <article class="product-detail">

    <div class="row">

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd><%= review.user_id %></dd>
          <dt>Rating:</dt>
          <dd><%= review.rating %> / 5</dd>
          <dt>Comments:</dt>
          <dd><%= review.description %></dd>
        </dl>
      </div>

    </div>

  </article>
