
  <% @name = User.find_by(id: review.user_id) %>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-7">
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd><%= @name.first_name %> <%= @name.last_name %></dd>
          <dt>Rating:</dt>
          <dd><% review.rating.times do %>⭐<% end %></dd>
          <dt>Comments:</dt>
          <dd><%= review.description %></dd>
        </dl>
      </div>

      <% if current_user %>
        <% if current_user.id == review.user_id %>
          <div class="col-sm-3">
            <%= link_to 'Delete review', product_review_path(@product, review),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      <% end %>

    </div>

  </article>
